<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseMates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="{% static 'javascript/script.js' %}"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="offset-1 navbar-brand"> HouseMates</a>
            <a class="offset-8 nav-item nav-link" href="/profile">{{ user.first_name }} {{ user.last_name }} </a>
        </nav>
    </div>
    <div style="height: 1800px;">
        <div class="row h-100">
            <div class="col-4">
                <div class="row">
                    <div class="col-7 offset-5">
                        <div class="mt-3 border">
                            test
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-left border-right">
                <div class="p-1 pt-2">
                    <div class="row">
                        <div class="col-6">
                            <h2>{{ house.nickname }}</h2>
                        </div>
                        <div class="col-6">
                            <form action="/logout">
                                <button class="fancyButton float-right">Logout</button>
                            </form>
                        </div>
                    </div>
                    <div id="banner" style="height: 200px;" class="border">
                        <div id="img">
                            img
                            {% comment %} add background image upload functionality {% endcomment %}
                            {% comment %} <img src="" alt=""> {% endcomment %}
                        </div>
                        <div id="profileCircle">
                            <i id="profileImg " class='fas fa-user-alt' style='font-size:45px'></i>
                        </div>
                    </div>
                    <div id="profileInfo">
                        <div class="row">
                            <div class="col-6">
                                <p class="mb-0"><b>{{ user.first_name }} {{ user.last_name }}</b></p>
                                <p>{{ user.email }}</p>
                            </div>
                            <div class="col-6">
                                <form action="#">
                                    <button class="float-right col-6 fancyButton">Edit Profile</button>
                                </form>
                            </div>
                        </div>
                        <div class="text-center mt-5" id="notifications">
                            <p>Notifications</p>
                            <hr>
                        </div>
                    </div>
                    <div class="notificationFeed">
                        <table class="table table-striped">
                            <tbody>
                                {% for notification in all_notifications %}
                                <tr>
                                    <td>{{ notification.date|date:"M d, y" }}</td>
                                    <td>{{ notification.sender.first_name }} {{ notification.get_action_display }}
                                        {% if notification.action == "CREATED" %}
                                        {{ notification.house.nickname }}
                                        {% elif notification.action == "INVITED" %}
                                        {{ notification.receiver.first_name }}
                                        {% elif notification.action == "PURCHASED" %}
                                        {{ notification.item.name }}
                                        {% elif notification.action == "HELPED" %}
                                        {{ notification.item.name }}
                                        {% endif %}
                                    </td>
                                    <td>{% if notification.action == "CREATED" %}
                                        Yay!
                                        {% elif notification.action == "INVITED" %}
                                        Welcome!
                                        {% elif notification.action == "PURCHASED" %}
                                        {{ notification.item.price }}
                                        {% elif notification.action == "HELPED" %}
                                        {{ notification.item.price }}
                                        {% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-7">
                        <div class="mt-3 border">
                            <h3>Add a HouseMate</h3>
                            <hr>
                            <form class="pl-2 pr-2" action="/profile/main_house/add_housemate" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" name="email" id="email">
                                </div>
                                <button class="fancyButton">Add</button>
                            </form>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>