<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseMates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="{% static 'javascript/script.js' %}"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="offset-1 navbar-brand"> HouseMates</a>
            <a class="offset-8 nav-item nav-link" href="/profile">{{ request.session.first_name }}'s Profile </a>
        </nav>
    </div>
    <div style="height: 1800px;">
        <div class="row h-100">
            <div class="col-4">
                <div class="row">
                    <div class="col-7 offset-5">
                        <div class="mt-3 border">
                            test
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-left border-right">
                <div class="p-1 pt-2">
                    <div class="row">
                        <div class="col-6">
                            <h2>{{ house.nickname }}</h2>
                        </div>
                        <div class="col-6">
                            <form action="/logout">
                                <button class="fancyButton float-right">Logout</button>
                            </form>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div id="itemBlock" class="row mt-1">
                        <div id="profileCol" class="col-2">
                            <div id="profileCircle2">
                                <i id="profileImg " class='fas fa-user-alt' style='font-size:45px'></i>
                            </div>
                        </div>
                        <div id="itemForm" class="col-10">
                            <form class="ml-3" action="/profile/main_house/add_item" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-7 offset-1">
                                        <div class="row">
                                            <input id="noBox" name="name" placeholder="Add item name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-3 offset-1">
                                        <div>
                                            <input placeholder="$" type="text" id="price" name="price" />
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <button class="fancyButton float-right">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="text-center mt-3" id="notifications">
                        <p>Notifications</p>
                        <hr>
                    </div>
                    <div class="row notificationFeed">
                        <table class="table table-striped">
                            <tbody>
                                {% for notification in house.notifications.all reversed %}
                                <tr>
                                    <td>{{ notification.date|date:"M d, y" }}</td>
                                    <td>
                                        {{ notification.houseFormat }}
                                    </td>
                                    <td>{% if notification.action == "CREATED" %}
                                        Yay!
                                        {% elif notification.action == "INVITED" %}
                                        {% if notification.membership.pending_invite == True %}
                                        Pending
                                        {% else %} Accepted
                                        {% endif %}
                                        {% elif notification.action == "PURCHASED" %}
                                        {{ notification.item.price }}
                                        {% comment %} {% elif notification.action == "HELPED" %}
                                        {{ notification.item.price }} {% endcomment %}
                                        {% elif notification.action == "ACCEPTED" %}
                                        Welcome!
                                        {% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-7">
                        <div class="mt-3 border">
                            <h3>Add a HouseMate</h3>
                            <hr>
                            <form class="pl-2 pr-2" action="/profile/main_house/add_housemate" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" name="email" id="email">
                                </div>
                                <button class="fancyButton">Add</button>
                            </form>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% load static %}
<script src="{% static 'javascript/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#price').on('change click keyup input paste', (function (event) {
            $(this).val(function (index, value) {
                return value.replace(/(?!\.)\D/g, "").replace(
                    /(?<=\..*)\./g, "").replace(
                    /(?<=\.\d\d).*/g, "").replace(
                    /\B(?=(\d{3})+(?!\d))/g, ",");
            });
        }));
    })
</script>

</html>